<div class="container" style="height:50vh;">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <form class="col-md-6" (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <div class="alert alert-info" *ngIf="todoForm.invalid">Enter valid values</div>
        <textarea [(ngModel)]="todo.description" class="form-control" name="description" required="required" minlength="2"></textarea>
        <input [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" class="form-control todo-field" type="date" name="targetDate" required="required">
        <div class="conteiner justify-content-center" style="text-align:center;">
            <button class="btn btn-success btn-lg" [disabled]="todoForm.invalid">Save</button>
            <button class="btn btn-secondary btn-lg" (click)="backToList()">Back</button>
        </div>
    </form>
  </div>
</div>
